* {
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.top_0 {
  top: 0px !important;
  left: 10%;
}
.box {
  border-radius: 16px;
  background: white;
  transition: all ease-in-out 400ms;
}
.box1 {
  background: #491f98;
  backdrop-filter: blur(125px);
  padding: 24px 16px;
  border-radius: 16px;
}
.navBtn {
  width: 35px;
  display: flex;
  flex-direction: column;
  margin-top: 1px;
}
.navBtn .span1 {
  background: white;
  height: 4px;
  margin: 3px 0px;
  width: 50%;
}
.navBtn .span2 {
  background: white;
  height: 4px;
  margin: 3px 0px;
  width: 100%;
}
.navBtn .span3 {
  background: white;
  height: 4px;
  margin: 3px 0px;
  width: 70%;
}
.navBtn .span4 {
  background: white;
  height: 4px;
  margin: 3px 0px;
  width: 50%;
}
.navBtn .span5 {
  background: white;
  height: 4px;
  margin: 3px 0px;
  width: 100%;
}
.navBtn .span6 {
  background: white;
  height: 4px;
  margin: 3px 0px;
  width: 70%;
}

.menubar {
  display: none;
}
.pos_cross {
  position: absolute;
  top: 9% !important;
  right: 5% !important;
}
.pos_logo {
  position: absolute;
  top: 9%;
  left: 6%;
}
.box_hide {
  width: 100vw;
  height: 100vh;
  position: fixed;
  border: 2px solid black;
  background: linear-gradient(
    to top,
    rgba(1, 2, 35, 1) 25.13%,
    rgba(1, 2, 35, 1) 89.37%
  );
  left: 0%;
  top: -100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 800ms ease-in-out !important;
  z-index: 1 !important;
}
.box_my {
  width: 100vw;
  height: 100vh;
  position: fixed;
  border: 2px solid black;
  background: linear-gradient(
    to top,
    rgba(1, 2, 35, 1) 25.13%,
    rgba(1, 2, 35, 1) 89.37%
  );
  left: 0;
  top: 0;
  z-index: 3 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 800ms ease-in-out !important;
}
.blur_shadow {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  padding: 4px 11px 4px 4px;
  width: 365px;
}
.white_box {
  background: #ffffff;
  border-radius: 32px;
  padding: 4px 16px;
}
.nav_hover::before {
  content: "";
  width: 0%;
  height: 2px;
  bottom: -6px;
  background-color: white;
  position: absolute;
  transition: all ease-in-out 500ms !important;
  right: 0%;
}
.nav_hover:hover::before {
  width: 100%;
  left: 0;
  transition: all ease-in-out 500ms !important;
}
.box_slide {
  background: #35068c;
  backdrop-filter: blur(2px);
  border-radius: 16px;
  padding: 40px 35px 40px 40px;
}
.hover:hover {
  color: white;
}
.slide_box {
  background: transparent;
  border-radius: 16px;
  padding: 30px 52px 30px 40px;
  transition: all ease-in-out 500ms !important;
}
.slide_box:hover {
  width: 120%;
  background: #4610ad;
  border-radius: 16px;
  padding: 30px 52px 30px 40px;
  transform: translateX(-25%);
  transition: all ease-in-out 500ms;
}
.box1_pos {
  position: absolute;
  bottom: -31%;
  left: 6%;
}
.box2 {
  background: #491f98;
  backdrop-filter: blur(125px);
  padding: 16px 44px;
  border-radius: 16px;
}
.box2_pos {
  position: absolute;
  bottom: -15%;
  right: 5%;
}
.Register_btn {
  padding: 14px 32px;
  background-color: #3671e9;
  color: white;
  border-radius: 32px;
  border: 2px solid transparent;
  transition: all ease-in-out 500ms !important;
}
.Register_btn:hover {
  padding: 14px 32px;
  background-color: transparent;
  color: white;
  border-radius: 32px;
  border: 2px solid white;
  transition: all ease-in-out 500ms !important;
}
.bg_color {
  background: linear-gradient(180deg, #0e0e2c 50%, #fbfcfe 50%) !important;
  margin-top: -2px;
}
.mt_1 {
  margin-top: -2px;
}
.bitcoin_box {
  background: #35068c;
  border-radius: 16px;
  padding: 40px;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-toggle:hover svg path {
  stroke: white;
}
.mx_480 {
  max-width: 480px !important;
}
.mx_588 {
  max-width: 588px !important;
}
.w_380 {
  width: 380px !important;
}
.w_381 {
  width: 381px !important;
}
.w_382 {
  width: 382px !important;
}
.btn-success {
  --bs-btn-color: none !important;
  --bs-btn-bg: none !important;
  --bs-btn-border-color: none !important;
  --bs-btn-hover-color: none !important;
  --bs-btn-hover-bg: none !important;
  --bs-btn-hover-border-color: none !important;
  --bs-btn-focus-shadow-rgb: none !important;
  --bs-btn-active-color: none !important;
  --bs-btn-active-bg: none !important;
  --bs-btn-active-border-color: none !important;
  --bs-btn-active-shadow: none !important;
  --bs-btn-disabled-color: none !important;
  --bs-btn-disabled-bg: none !important;
  --bs-btn-disabled-border-color: none !important;
}

.small_box {
  background: #ffffff;
  box-shadow: 0px 20px 200px rgba(87, 42, 170, 0.161);
  border-radius: 16px;
  padding: 48px 24px;
  height: 430px;
  transition: all ease-in-out 500ms !important;
}
.small_box:hover {
  background: #2b076e;
  backdrop-filter: blur(125px);
  height: 430px;
  border-radius: 16px;
  transition: all ease-in-out 500ms !important;
}
.small_box:hover p {
  color: white !important;
  transition: all ease-in-out 500ms !important;
}
.small_box .d_flex {
  display: flex !important;
  transition: all ease-in-out 500ms !important;
}

.small_box:hover .d_flex {
  display: none !important;
  transition: all ease-in-out 500ms !important;
}
.small_box .d_none {
  display: none !important;
  transition: all ease-in-out 500ms !important;
}

.small_box:hover .d_none {
  display: flex !important;
  transition: all ease-in-out 500ms !important;
}
.img_size {
  height: 80px;
  width: 80px;
}
.img_size_2 {
  height: 50px;
  width: 50px;
}
.button_size {
  width: 76px;
  height: 76px;
}
.opicity_1 {
  opacity: 0.7;
}

.mx_146 {
  max-width: 146px;
}
.w_40 {
  width: 40px;
}

.mx_408 {
  max-width: 408px;
}
.mx_622 {
  max-width: 622px;
}
.mx_741 {
  max-width: 741px;
}
.mx_758 {
  max-width: 758px;
}
input {
  outline: none;
  border: none !important;
  background: transparent;
}
::placeholder {
  color: #0d0d2b !important;
}
.bd_bottom {
  border-bottom: 2px solid #e0e0e0 !important;
  width: 100%;
}
.calculate_btn {
  background: #3671e9;
  border-radius: 50px;
  padding: 16px 32px;
  transition: all ease-in-out 400ms !important;
  border: transparent 2px solid;
  display: inline-block;
}
.calculate_btn:hover {
  background: transparent;
  border: #3671e9 2px solid;
  color: #3671e9 !important;
  transition: all ease-in-out 400ms !important;
  display: inline-block;
}
.learn_btn {
  background: #3671e9;
  border-radius: 50px;
  padding: 16px 32px;
  transition: all ease-in-out 400ms !important;
  border: transparent 2px solid;
  display: inline-block;
}
.learn_btn:hover {
  background: transparent;
  border: white 2px solid;
  transition: all ease-in-out 400ms !important;
  display: inline-block;
  color: white !important;
}
.mt_3 {
  margin-top: 20px;
}
.mt_4 {
  margin-top: 20px;
}
.start_btn {
  background: #3671e9;
  border-radius: 50px !important;
  padding: 16px 16px 16px 24px;
  border: 2px solid transparent;
  display: inline-block;
  transition: all ease-in-out 400ms !important;
}
.start_btn:hover {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 32px !important;
  transition: all ease-in-out 400ms !important;
}
.border_radius_1 {
  border-radius: 16px 16px 0px 0px;
}
.img_overflow {
  transform: translateX(-20%);
}
.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: -50px !important;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}
.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #0d0d2b !important;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}
.end_1 {
  right: -5.4%;
  bottom: -10%;
}
.end_2 {
  right: -45.4%;
}

@media (max-width: 576px) {
  .img_overflow {
    transform: translateX(0%);
  }
  .blur_shadow {
    width: 300px;
  }
  .pt_250 {
    padding-top: 50px;
  }
  .w_381 {
    width: 100% !important;
  }
  .box1 {
    padding: 16px;
  }
  .box2 {
    padding: 16px 22px;
  }
  .box1_pos {
    position: absolute;
    bottom: -18%;
    left: 1%;
  }
  .box_slide {
    background: #35068c;
    backdrop-filter: blur(2px);
    border-radius: 16px;
    padding: 40px 6px 40px 6px;
  }
  .slide_box {
    background: transparent;
    border-radius: 16px;
    padding: 30px 52px 30px 5px;
    transition: all ease-in-out 500ms !important;
  }
  .slide_box:hover {
    width: 100%;
    background: #4610ad;
    border-radius: 16px;
    padding: 30px 52px 30px 6px;
    transform: translateX(0%);
    transition: all ease-in-out 500ms !important;
  }
}
@media (min-width: 576px) {
  .img_overflow {
    transform: translateX(0%);
  }
  .pt_250 {
    padding-top: 50px;
  }
  .w_381 {
    width: 470px !important;
  }
  .slide_box:hover {
    width: 100% !important;
    background: #4610ad;
    border-radius: 16px;
    padding: 30px 92px 30px 40px !important;
    transform: translateX(-20%);
    transition: all ease-in-out 500ms !important;
  }
}
@media (min-width: 768px) {
  .mt_4 {
    margin-top: 0px;
  }
  .img_overflow {
    transform: translateX(-20%);
  }
  .pt_250 {
    padding-top: 50px;
  }
  .w_381 {
    width: 298px !important;
  }
  .slide_box:hover {
    width: 100%;
    background: #4610ad;
    border-radius: 16px;
    padding: 30px 92px 30px 40px !important;
    transform: translateX(-16%);
    transition: all ease-in-out 500ms !important;
  }
}
@media (min-width: 992px) {
  .mt_3 {
    margin-top: 0px;
  }
  .img_overflow {
    transform: translateX(-18%) !important;
  }
  .slide_box {
    background: transparent;
    border-radius: 16px;
    padding: 30px 52px 30px 15px;
    transition: all ease-in-out 500ms !important;
  }
  .slide_box:hover {
    width: 120% !important;
    background: #4610ad;
    border-radius: 16px;
    padding: 30px 92px 30px 40px !important;
    transform: translateX(-23%);
    transition: all ease-in-out 500ms !important;
  }
  .pt_250 {
    padding-top: 250px;
  }
  .w_381 {
    width: 274px !important;
  }
}
@media (min-width: 1200px) {
  .w_381 {
    width: 336px !important;
  }
  .img_overflow {
    transform: translateX(-16%);
  }
  .slide_box {
    background: transparent;
    border-radius: 16px;
    padding: 30px 52px 30px 40px;
    transition: all ease-in-out 500ms !important;
  }
  .slide_box:hover {
    width: 100% !important;
    background: #4610ad;
    border-radius: 16px;
    padding: 30px 52px 30px 40px;
    transform: translateX(-25%);
    transition: all ease-in-out 500ms !important;
  }
}
@media (min-width: 1400px) {
  .w_381 {
    width: 381px !important;
  }
  .img_overflow {
    transform: translateX(-49%);
  }
}
