* {
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.box {
  border-radius: 16px;
  background: white;
  transition: all ease-in-out 400ms;
}
.box1 {
  background: #491f98;
  backdrop-filter: blur(125px);
  /* Note: backdrop-filter has minimal browser support */
  padding: 24px 16px;
  border-radius: 16px;
}
.box1_pos {
  position: absolute;
  bottom: -40%;
}
.box2 {
  background: #491f98;
  backdrop-filter: blur(125px);
  /* Note: backdrop-filter has minimal browser support */
  padding: 16px 44px;
  border-radius: 16px;
}
.box2_pos {
  position: absolute;
  bottom: -15%;
  right: 10%;
}
.bg_color {
  background: linear-gradient(180deg, #0e0e2c 50%, #fbfcfe 50%) !important;
  margin-top: -2px;
}
.bitcoin_box {
  background: #35068c;
  border-radius: 16px;
  padding: 40px;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-toggle:hover svg path {
  stroke: white;
}
.w_380 {
  width: 380px !important;
}
.w_381 {
  width: 381px !important;
}
.w_382 {
  width: 382px !important;
}
.btn-success {
  --bs-btn-color: none !important;
  --bs-btn-bg: none !important;
  --bs-btn-border-color: none !important;
  --bs-btn-hover-color: none !important;
  --bs-btn-hover-bg: none !important;
  --bs-btn-hover-border-color: none !important;
  --bs-btn-focus-shadow-rgb: none !important;
  --bs-btn-active-color: none !important;
  --bs-btn-active-bg: none !important;
  --bs-btn-active-border-color: none !important;
  --bs-btn-active-shadow: none !important;
  --bs-btn-disabled-color: none !important;
  --bs-btn-disabled-bg: none !important;
  --bs-btn-disabled-border-color: none !important;
}

.small_box {
  background: #ffffff;
  box-shadow: 0px 20px 200px rgba(87, 42, 170, 0.161);
  border-radius: 16px;
  padding: 48px 24px;
  height: 430px;
  transition: all ease-in-out 500ms !important;
}
.small_box:hover {
  background: #2b076e;
  backdrop-filter: blur(125px);
  height: 430px;
  border-radius: 16px;
  transition: all ease-in-out 500ms !important;
}
.small_box:hover p {
  color: white !important;
  transition: all ease-in-out 500ms !important;
}
.small_box .d_flex {
  display: flex !important;
  transition: all ease-in-out 500ms !important;
}

.small_box:hover .d_flex {
  display: none !important;
  transition: all ease-in-out 500ms !important;
}
.small_box .d_none {
  display: none !important;
  transition: all ease-in-out 500ms !important;
}

.small_box:hover .d_none {
  display: flex !important;
  transition: all ease-in-out 500ms !important;
}
.img_size {
  height: 80px;
  width: 80px;
}
.img_size_2 {
  height: 50px;
  width: 50px;
}
.button_size {
  width: 76px;
  height: 76px;
}
.opicity_1 {
  opacity: 0.7;
}

.mx_146 {
  max-width: 146px;
}

.mx_408 {
  max-width: 408px;
}
.mx_622 {
  max-width: 622px;
}
.mx_741 {
  max-width: 741px;
}
.mx_758 {
  max-width: 758px;
}
input {
  outline: none;
  border: none !important;
  background: transparent;
}
::placeholder {
  color: #0d0d2b !important;
}
.bd_bottom {
  border-bottom: 2px solid #e0e0e0 !important;
  width: 100%;
}
.calculate_btn {
  background: #3671e9;
  border-radius: 50px;
  padding: 16px 32px;
  transition: all ease-in-out 400ms !important;
  border: transparent 2px solid;
  display: inline-block;
}
.calculate_btn:hover {
  background: transparent;
  border: #3671e9 2px solid;
  color: #3671e9 !important;
  transition: all ease-in-out 400ms !important;
  display: inline-block;
}
.learn_btn {
  background: #3671e9;
  border-radius: 50px;
  padding: 16px 32px;
  transition: all ease-in-out 400ms !important;
  border: transparent 2px solid;
  display: inline-block;
}
.learn_btn:hover {
  background: transparent;
  border: white 2px solid;
  transition: all ease-in-out 400ms !important;
  display: inline-block;
  color: white !important;
}
.mt_3 {
  margin-top: 20px;
}
.mt_4 {
  margin-top: 20px;
}
.start_btn {
  background: #3671e9;
  border-radius: 50px !important;
  padding: 16px 16px 16px 24px;
  border: 2px solid transparent;
  display: inline-block;
  transition: all ease-in-out 400ms !important;
}
.start_btn:hover {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 32px !important;
  transition: all ease-in-out 400ms !important;
}
.border_radius_1 {
  border-radius: 16px 16px 0px 0px;
}
@media (max-width: 576px) {
  /* .box {
    transform: translateY(0%);
  } */
  .pt_250 {
    padding-top: 50px;
  }
  .w_381 {
    width: 100% !important;
  }
}
@media (min-width: 576px) {
  /* .box {
    transform: translateY(0%);
  } */
  .pt_250 {
    padding-top: 50px;
  }
  .w_381 {
    width: 470px !important;
  }
}
@media (min-width: 768px) {
  .mt_4 {
    margin-top: 0px;
  }
  /* .box {
    transform: translateY(0%);
  } */
  .pt_250 {
    padding-top: 50px;
  }
  .w_381 {
    width: 298px !important;
  }
}
@media (min-width: 992px) {
  .mt_3 {
    margin-top: 0px;
  }
  /* .box {
    transform: translateY(60.5%);
  } */
  .pt_250 {
    padding-top: 250px;
  }
  .w_381 {
    width: 274px !important;
  }
}
@media (min-width: 1200px) {
  .w_381 {
    width: 336px !important;
  }
}
@media (min-width: 1400px) {
  .w_381 {
    width: 381px !important;
  }
}
